body{
    background: #EBE4D1;
}

.titleMain{
    color:#662549;
    margin: 20px 0px;
    text-align: center;
}

.textNavbar{
    color:var(--color-itemNavbar);

}
.textNavbarII{
    color:var(--color-itemNavbarII);
    font-weight: 500;

}