body{
    background: #EBE4D1;
}

.titleMain{
    color:#662549;
    margin: 20px 0px;
    text-align: center;
}

#titulo{
    color:brown
}
.li_NavbarI{
    color:var(--color-itemNavbarI);
    font-weight: 500;
    font-size: 1.3rem;

}
.li_NavbarII{
    color:var(--color-itemNavbarII);
    font-weight: 500;
}
.li_NavbarIII{
    color:var(--color-itemNavbarIII);
    font-weight: 800;
}
.li_NavbarIV{
    color:var(--color-itemNavbarI);
    font-weight: 500;
}
#ckeditor1{
    width: 300px; 
    height: 30px;
}
#ckeditor2{
    width: 300px; 
    height: 10%;
}


