{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}
{% block meta%}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='public/index.css')}}">
{% endblock %}

{% include 'navbar.html' %}



{% block content %}

<h2 class="titleMain">Add Your Post</h2>
<br>
<div class="shadow h-40 p-3 mb-5 bg-body rounded post">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ form.title.label(class="form-label")}}
        {{form.title(class="form-control focus")}}
        <br>
        {{ form.slug.label(class="form-label")}}
        {{form.slug(class="form-control")}}
        <br>
        {{ form.content.label(class="form-label")}}
        {{form.content(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>

</div>

{% endblock %}