{% extends 'base.html' %} 
{% block meta %}{% endblock %}
{% block title %} Update Profile{% endblock %}
{% include 'navbar.html' %}
{% block content %}
<br>
<h1>Update</h1>
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{ form.username.label(class="form-label")}}
        {{form.username(class="form-control", value=user_to_update.username)}}
        <br>
        {{ form.name.label(class="form-label")}}
        {{form.name(class="form-control", value=user_to_update.name)}}
        <br>
        {{ form.aboutme.label(class="form-label")}}
        {{form.aboutme(class="form-control", value=user_to_update.about_me)}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}

