{% block css %}{% endblock %}





<nav  class="navbar navbar-expand-sm navbar-dark" style="background-color: var(--color-navbar);">
    <div class="container">
      <a class="navbar-brand textNavbar " href="{{url_for('public.index')}}">Enseñanza de la matematica</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 textNavbar">
              <li class="nav-item">
                  <a class="nav-link textNavbarII" href="{{url_for('public.addPost')}}">Add Post</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link textNavbarII" href="{{url_for('auth.dashboard')}}">Dashboard</a>
              </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link textNavbar" href="{{url_for('auth.login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textNavbar" href="{{url_for('auth.sign')}}">Register</a>
            </li>
          </ul>
      </div>
</div>
</nav>